
/**
 * Bio
 */

.bio {

}

.bio_name {

}

/** Avatar
 ---------------------------------------------------------*/

.bio_avatar {
  display: none;
  width: 27%;
  float: right;
  margin: 0.3em 0 0 12px;
}