
/**
 * Defaults
 */

/** All
 ---------------------------------------------------------*/

* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

/** HTML & Body
 ---------------------------------------------------------*/

html,
body {
  height: 100%;
}

/** Body
 ---------------------------------------------------------*/

body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
}

/** Headers
 ---------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

/** List Items
 ---------------------------------------------------------*/

li {
  list-style-type: none;
}

/** Links
 ---------------------------------------------------------*/

a {
  color: inherit;
  text-decoration: none;
}