
/**
 * Footer
 */

.footer {
  padding-top: $padding-200;
  text-align: center;
  color: #999;

  /**
   * @large
   */

  @include large {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: $padding-200;
    padding-bottom: $padding;
  }
}

/** Name
 ---------------------------------------------------------*/

.footer_name {
  margin-bottom: $padding-50;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/** Share
 ---------------------------------------------------------*/

.footer_share {
  text-align: center;

  li {
    @include transition(transform 160ms);
    @include scale(1);
    display: inline-block;
    padding: 0 3px;

    /**
     * @hover
     */

    &:hover {
      @include scale(1.3);
      color: $color-pink;
    }
  }
}