
.post {}

.articles-button {
  display: block;

  span {
    @include transition(transform 140ms);
    @include translate3d(0,0,0);
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 0.5em;
  }

  /**
   * @hover
   */

  &:hover {
    color: $color-pink;

    span {
      @include translate3d(-0.3em,0,0);
    }
  }
}

/** Date
 ---------------------------------------------------------*/

.post_date {}

.post-meta_title {
  color: #000;
}

/** Title
 ---------------------------------------------------------*/

.post_title {
  margin-bottom: $padding;
  font-size: 30px;
  font-weight: 300;
  line-height: 1em;
  color: #000;

  /**
   * @medium
   */

  @include medium {
    margin-bottom: $padding;
    font-size: 40px;
  }
}

/** Content
 ---------------------------------------------------------*/

.post_content {
  padding-bottom: $padding;
  border-bottom: $border-dotted;
  margin-bottom: $padding;
  line-height: 1.64;

  > * {
    margin-bottom: $padding;
  }

  iframe[class*="twitter-tweet"] {
    margin-bottom: $padding !important;
  }

  > :last-child {
    margin-bottom: 0;
  }

  h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: normal;
    color: #000;
  }

  p {
    margin-top: -0.3em;
  }

  ul,
  ol {
    margin-left: 22px;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  img {
    max-width: 100%;
    border: 1px solid #ddd;
  }

  a {
    color: $color-pink;

    /**
     * @hover
     */

    &:hover {
      //text-decoration: underline;
    }
  }

  /**
   * @medium
   */

  @include medium {
    > * {
      margin-bottom: $padding;
    }

    h3 {
      font-size: 28px;
    }
  }

}