
/**
 * Site
 */

.site {
  position: relative;
  min-height: 100%;
  padding: $padding 0;
  border: solid #EEE;
  border-width: $padding-50 0;
  line-height: 1.5;

  > .inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 $padding;
  }

  a {
    //color: $color-pink;
  }

  /**
   * @large
   */

  @include large {
    padding: $padding-200 0 200px;
  }
}
