<ul class="share">
  <li><a data-icon="&#xe000;" href="https://twitter.com/intent/tweet?text={{ page.title }}&via=wilsonpage&url={{ site.url }}{{ page.url }}" target="_blank">Share on Twitter</a></li>
  <li><a data-icon="&#xe001;" href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">Share on Facebook</a></li>
  <li><a data-icon="&#xe002;" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank">Share on Google+</a></li>
</ul>