<ul class="share">
  <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&via=wilsonpage&url={{ site.url }}{{ page.url }}" target="_blank"><span data-icon="&#xe000;"></span>Share on Twitter</a></li>
  <li><a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><span data-icon="&#xe001;"></span>Share on Facebook</a></li>
  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank"><span data-icon="&#xe002;"></span>Share on Google+</a></li>
</ul>